<body>
    <h1>WattWatt Educational Portal</h1>

    <p>In this portal, you can find education on:</p>
    <span></span>
    <div class="ea-card-content">
        <ul>
            <li>
                <span icon check-circle></span>
                <a routerLink="">How smart contracts function and why we trust them</a>
            </li>
            <li>
                <span icon check-circle></span>
                <a routerLink="">
                    How solar photovoltaic generation works and why it's so cost-effective
                </a>
            </li>
            <li>
                <span icon check-circle></span>
                <a routerLink="">How energy project finance works and how we're different</a>
            </li>

            <li>
                <span icon check-circle></span>
                <a routerLink="">
                    What is tokenomics and how to optimize your decision making
                </a>
            </li>
        </ul>
    </div>

    <div class="ea-card" unset>
        <h3>Smart Contracts</h3>
        <p>Smart contracts are lines of computer code, similar to what tells this website what to do when things are done to
            it.
        </p>
        <p>While the lines of code written to control this website may move your screen further down the page when you click
            a button or change the color of an icon when you move your mouse over it, Ethereum smart contracts can:</p>
        <div class="ea-card-content">
            <ul>
                <li>
                    <span></span>
                    <p>Hold Ether or tokens as an escrow, with instructions of where to move it and when</p>
                </li>
                <li>
                    <span></span>
                    <p>
                        Hold and send a message or some type of data over the blockchain when its code tells it to
                    </p>
                </li>
                <li>
                    <span></span>
                    <p>Create token models with rules implemented in the code governing the use of the tokens</p>
                </li>

                <li>
                    <span></span>
                    <p>
                        Act as neutral, unbiased arbiters between parties in a transaction
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <h4>The Ethereum Blockchain</h4>
            <p>To understand what makes Ethereum smart contracts valuable, it's worth knowing what makes Ethereum valuable first.
                In short, Ethereum allows for accounting to be recorded on an immutable, public ledger. Accounting doesn't
                need to be just for finance, though. Accounting can be accounting of energy consumption, computational power,
                or something like movement of resources. In the end, accounting may be ground down into money figures but
                based on the addition or subtraction of some resource, even including risk or reputation.</p>
            <p>How Ethereum does this becomes more complex. We'll try to simplify. Ethereum makes it an economic game for people
                to verify incoming requests for additions to the ledger. If you send money to your friend, you do this by
                reporting your request publically. The verifiers of the ledger, who you may have heard referred to as 'miners',
                all receive your request and the requests of others. They then combine those requests and verify them as
                quickly as possible, following the economic rules set out by the blockchain protocol. If they break the rules
                or don't verify fast enough, their addition to the ledger is not successful and they jump onto the next competition
                for who can complete the next addition to the ledger.</p>
            <p>The rules in place make it undesirable for the other verifiers to use a falsified addition to the ledger. If
                the rules weren't created to do this, the ledger would just be called and ledger and not be considered a
                blockchain. What this means for smart contracts is that once your requested addition to the Ethereum blockchain
                ledger has been received and added, nobody can go back in the time of the ledger, scratch out your entrance,
                and potentially even add their own component to your transaction, smart contract code, or data.</p>
            <p>Thus, once you fund a solar project, the Ethereum ledger has it noted and cannot erase it. Once you and other
                parties commit to a smart contract, unless the rules of the contract say so, neither side can renig or adapt
                the contract. For this reason, some people claim they should be called 'dumb contracts', as the contracts
                are really not adaptable to any scenario not thought of past the deployment of the contract code.</p>
        </div>
        <div>
            <h4>Crowdlending and Finance on a Blockchain</h4>
            <p>More to the point of what this means for funding of a project:</p>
            <p>In traditional banking and finance, ledgers are held by individual entities. Therefore, the entity holding and
                maintaining the ledger must be as reliable as possible. Compensation for reliable and reputable ledger holders
                is high and relies on government regulation rather than pure economic incentives. This has been proven to
                fail on many occasions, memorably when it comes to money laundering and coorporations with something to hide
                like a shortfall or bribery.</p>
            <p>For crowdlending, reliance on trusted entities for accounting proves to be costly. Other projects, such as Wunder
                Capital, Mosaic, and GoFundMe charge substantial rates. You have likely be hit with transfer and exchange
                fees for moving and changing your own money. It is also an issue of delays. Traditional banks, to save even
                further added costs associated with transactions, must batch their transactions and only conduct them all
                at once at the end of the day. This is why you only see your money arrive hours or days after you have requested
                it.
            </p>
            <p>WattWatt leverages Ethereum blockchain transaction and contract technology to collect funds from many individual
                sources and transfer it at a cost of less than $5.00. The transaction costs the funders pay to send to the
                smart contract is less than $0.50. This allows us to offer much greater shares of the returns from the loans
                to our customers, which we hope brings more capital to solar developers.</p>
            <p>To further allow for crowdlending to occur at a low cost, Ethereum smart contracts can create what's referred
                to as a 'token'. Tokens are really more like digital licenses that give the Ethereum address that the ledger
                shows as its owner the ability to do whatever the smart contract assigns holders of those tokens. For example,
                a token can give the Ethereum address (and in turn its owner) one vote count in an election. Another example-
                a token can be identified by a smart contract as proof that the address holding it has been verified for
                some function the smart contract contains.</p>
            <p>In the case of debt, like crowdlending, tokens can be automatically set to disperse to addresses which have contributed
                some amount of funding to the project being raised for. Now that the addresses contributing have the token,
                the smart contract can have code in it giving access to token holders to the repayment the borrower pays
                back over the time of the funding contract. If someone wishes to, they can transfer the token(s) to another
                contract, perhaps to keep it safe, lock it up as collateral in some finance deal, or sell it because they'd
                prefer to have something else.</p>
        </div>
    </div>

    <div class="ea-card" unset>
        <h3>Solar PV Energy</h3>
        <p>Solar photovoltaic energy generation is now among the most economic methods to generate electricity. We'll explore
            how this has come to be and how it works here.
        </p>
        <p>Solar photovoltaic is a method of generating electricity by using a panel made up of a material that moves electrons
            (electricity) when it catches photons (sunlight) coming from the sky. The majority of this type of generation
            is done through doped silicon wafers, manufactured from purified silicon doped with
        </p>
        <p>Types of silicon cell structures:</p>
        <div>
            <span></span>
            <h4>Monocrystalline</h4>
            <p>Produced from one single silicon block</p>
            <p>Converts more solar energy into electricity than the others</p>
            <p>Requires heating to melt and allow the 'grains' (mesh of silicon atoms) of silicon to align themselves</p>
            <span></span>

            <h4>Polycrystalline</h4>
            <p>Most popular technology of the three main ones</p>
            <p>Produced from various 'grains' of silicon put together</p>
            <p>Avoids the extra heating/melting process of monocrystalline (costs less)</p>
            <span></span>

            <h4>Thin film panels</h4>
            <p>Main technologies are: a-Si (amorphous thin-film silicon), CdTe (cadmium telluride)(most produced type), and
                CIGS (copper indium gallium diselenide).</p>
            <p>Use as little as 100 times less semiconductor material (silicon and doping atoms) compared to mono or polycrystalline.</p>
            <p>Much more expensive process, balancing out the reduced material cost. This technology has a long history of bankrupt
                manufacturers and closed businesses (Solyndra, Tokyo Electron).</p>

        </div>
        <span></span>
        <div>

            <h4>Watt's Up With Silicon in Solar?</h4>
            <p>Silicon is the most abundant element on the crust of Earth (60% of the crust is silica). So why does solar cost
                as much as it does?</p>
            <p>Silicon used in solar PV has to be refined from SO2, the form most easily convertible to pure silicon. To do
                this, manufacturers have to use a lot of heat, which costs money to make. The heat causes the oxygen in the
                SO2 to break off and bind to something else other than the silicon (usually carbon). Manufacturers also use
                gases to remove impurities off the silicon. The process continues through different methods until the manufacturer
                gets the purity of silicon they're looking for. The wafers you see in a solar panel come from this pure silicon.</p>
            <p>Silicon in solar is then put into two layers on each wafer: the N-type, which which collects the arriving solar
                energy, and the P-type, which releases the electrons that make up electricity.</p>
            <p>The silicon on the surface is also 'textured', which means rather than being flat and reflecting some of the
                solar back out immediately, it causes the solar energy to bounce off the surface of the silicon more than
                once. This gives the wafer another chance to absord the solar energy. This means more solar energy can be
                collected, increasing the amount of electricity that can be generated.</p>

            <h4>Watt About Dopants? (Doping Wafers)</h4>
            <p>Boron atoms are placed inside the N-type layer, replacing spaces where silicon atoms would have been. There are
                usually 1 boron atom per million silicon atoms in a wafer.</p>
            <p>Phosphorous atoms are placed inside the P-layer, also replacing spaces where silicon atoms would have been.</p>
            <p>Placing these atoms within the silicon mesh give these layers their characterists to either catch solar energy
                or to move along electrons and generate electricity.</p>

            <h4>Watt Else is Done to Make a Wafer?</h4>
            <p>Electrical contacts: You'll see these on a solar panel as the metallic lines crossing the wafers. They carry
                the electrons released as electricity and move it to the wires that carry it to where it's used. Usually,
                they are made of titanium (contact that first picks up the electrons), palladium (glue between the two outside
                layers), and a conductor metal, such as silver (moves the electrons out to the electrical wires).</p>
            <p>Solar panels also have relfective material on the back of the panel, behind the wafers, to reflect back the remaining
                solar energy so it can be absorbed. Remember, photons are waves of energy moving through the air. They can
                move through objects as they are not solid objects.</p>
        </div>
        <div>
            <h4>Other Equipment</h4>
            <p>While the solar cells used to be most of the cost of an installation, its price has plummeted in the last 10
                and 20 years. Now, the discussion among installers is more focused on the other costs of an installation,
                including:
            </p>

            <p>Inverters: responsible for converting the DC (direct current) electricty made by the PV panels to AC (alternative
                current), which is needed for the electricity to power our houses and businsses.</p>
            <p>Wiring: moves the electrons making up the electricity from the panels to the inverter and then to the house or
                business.
            </p>
            <p>Mounting hardware: equipment that installers use to hold the panel array on the roof to the structure of the
                roof. Otherwise, a wind or rain would cause the panels to fall off the roof or fly away like a kite.</p>
            <p>Interconnection equipment: what connects the wires carrying the solar generated electricity to whatever the existing
                electrical infrastucture is.</p>
            <p>Install crew: need someone experienced, capable people to bring the equipment over, mount it on the roof, run
                the wires, and adjust the inverter settings. It's not a good idea to do all this yourself if you don't know
                what you're doing!</p>
            <p>Permitting: in the US, a significant cost of an installation is getting the government and utility company permission
                to build the system and connect it to the grid.</p>

        </div>
        <div>
            <h4>So How Much Does This All Cost?</h4>
            <p>The cost to power your home or business using solar has plummeted drastically. You can buy a system for 70% less
                now than in 2010.</p>
            <p>A home system to power 100% of the need of an average US house will now cost about $15,000 in total.</p>
            <p>A utility company can now get enough solar installed to power 5,000 houses for about $30 million, or $6,000 a
                house.
            </p>
            <p>Once the system is installed, the system will continue to generate, without any fuel costs, for at least 30 years.</p>

        </div>
    </div>

    <div class="ea-card" unset>
        <h3>Project Finance</h3>
        <p>Currently, large firms handle the funding needs of solar developers for the majority of projects.
        </p>
        <p>These firms charge dealer fees, origination fees, closing costs, and maintenance fees for their service. In the end,
            their service is to collect funds from private wealth and find projects to lend it to.</p>
        <p>A popular method of finance in solar is called TPO financing, or Third Party Ownership. This is where the financer,
            rather than lending capital to the entity going solar, purchases the system and allows the entity to benefit
            from the solar through reduced costs in their electricity. Because the financer owns the system and has it on
            their accounting books, they can report to the government that they paid for a solar installation. This lets
            them receive the tax subsidies offered by the US government meant to incentivize solar installations. The two
            main programs are MACRS, by the IRS, and the ITC. </p>
        <p>The ITC (Investment Tax Credit) is a credit of 30% of the costs of the system. The owner of the system can reduce
            their tax owed to the IRS by their tax rate multiplied by 30% of the costs of the installation.</p>
        <p>MACRs (Modified Accelerated Cost Recovery Program), is a program by the IRS that allows the owner of a solar installation
            to deduct the costs over an accelerated 5 year period. The tax benefit, without diving into the details, gives
            a 26% tax benefit of the cost of the installation (on a present-value basis) versus the regular 20 year depreciation
            period being a 14% tax benefit.</p>
        <p>The combined benefits of the ITC and MACRS comes out to about 56% of the system's costs. As an example, if Goldman
            Sachs funded $100,000,000 of solar installations, they would see a tax benefit of $56,000,000.</p>

        <h4>Blended Finance</h4>
        <p>Usually, large energy projects are not funded by a single loan or investor but rather a conglomerate or investors
            and lenders, packaged in a way to give each entity the profile of risk vs return they are seeking. For example:</p>
        <p>A solar project needs $100,000 of funding to get installed. The developer may want to have a share in the long term
            to make some return other than their installation costs. So let's say they fund $10,000 out of their own operating
            capital. Then they find two investment groups wanting to make a high return from the project. They would purchase
            40% of the project ($40,000) and own this share and 40% of the returns of the project. Then a bank is willing
            to lend $40,000 to make a set return, let's say 7% interest for 10 years. Now the developer has $90,000 in funds
            and needs $10,000 more. To lock this up, they offer another investment fund senior shares in the firm, at an
            lower share of the returns but with the added benefit that they will receive their money back before anyone else
            except the bank that lent the money.</p>

    </div>
    <div class="ea-card" unset>
        <h3>Tokenomics</h3>
        <p>WattWatt will be launching a coordination platform that uses economic incentives to get people to work together when
            it comes to due diligence of loan applications.
        </p>
        <p>By providing education on how the economic mechanisms work, we hope to to both improve the results of the platform
            and help users get the best experience out of using it.</p>
        <div>
            <h4>Examples of Irrational Behavior in Economics</h4>
            <p>Sunk Cost</p>
            <p>Hot Hand</p>
            <p>Loss Aversion</p>
        </div>
        <div>
            <h4>Examples of Token Economic Models</h4>
            <p>To offer an explanation of token economic models, we believe the most effecient route is through learning about existing models that are already launched and 'in main net' (the equivalent of 'on the app store')</p>
            <h5>Augur</h5>
            <p>Augur is a prediction market platform backed by decentralized 'oracles' (sources of data or truth). Its purpose is to provide a trusted source of truth for prediction markets. Prediction markets already exist but they are limited by the need for a government legal system, a middle-man broker, and censorship of potential markets. The token available in this platform is the Reputation token (REP). The REP token gives the holder access to </p>
        </div>
    </div>

</body>