<div>
  <h2>Puerto Rican Solar</h2>

  <img src="../../assets/images/PuertoRico.png" alt="" style="width:100%;height:100%;">
  <p>WattWatt has partnered with local Puerto Rican initiatives, including Off Grid Relief, to fundraise the money used to install
    solar generation and battery backup for homes in the mountains of Puerto Rico. If you chose to donate using this page,
    your capital will be collected by a smart contract and transfered to the address of the installers. You can see this
    smart contract, its code, and its transactions by clicking See Contract.</p>

  <button>Click to Donate</button>

  <a href="https://etherscan.io/address/0xba30092ddb563ff13e55d8fd8ee428b87fe52499">
  <button>See Contract</button>
  </a>
</div>




