<p>
  Preview our upcoming crowdfunding portal of solar projects looking for funding:
</p>

<h2>(Page in Construction)</h2>

<div class="ea-card">
  <div class="ea-card-header">
    <p>Currently Fundraising</p>
    <div content>
      <button icon>
        <span icon download></span>
      </button>
    </div>
    <button icon>
      <span icon x></span>
    </button>
  </div>
  <div class="ea-card-content">
    <h2>200 MW Commercial Project - Mexico City, Mexico</h2>
    <img src="../assets/images/Soriana.jpg" style="width:100%;height:100%;">
    <p>Installation: Mexico City Installer Corp</p>
  </div>
  <div class="ea-card-content">
    <ul>Size: 200 MW, 300W Trina panels, 625,000 panels</ul>
  </div>
  <div class="ea-card-content">
    <p>Return: 11.3% Annual Percentage Rate</p>
  </div>
  <div class="ea-card-footer">
    <button small>Bookmark</button>
    Installation #32
    <button small>Fund</button>
  </div>
</div>

<!-- <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../web3.min.js"></script> -->

<div class="ea-card">
  <div class="ea-card-header">
    <p>Currently Fundraising</p>
    <div content>
      <button icon>
        <span icon download></span>
      </button>
    </div>
    <button icon>
      <span icon x></span>
    </button>
  </div>
  <div class="ea-card-content">
    <h2>400 MW Commercial Project - Merida, Mexico</h2>
    <img src="../assets/images/Mega.jpg" style="width:100%;height:100%;">
    <p>Installation: Merida Installer Corp</p>
  </div>
  <div class="ea-card-content">
    <p>Size: 400 MW, 300W Trina panels, 1,250,000 panels</p>
  </div>
  <div class="ea-card-content">
      <p>Return: 11.5% Annual Percentage Rate</p>
    </div>
  <div class="ea-card-footer">
    <button small>Bookmark</button>
    Installation #33
    <button small>Fund</button>
  </div>
</div>


