<div class="ea-card" unset>
  <div class="ea-card-header"><h1>Get in touch with us.</h1></div>
  <h2>We're a San Juan, PR based firm with contributors around the world.</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mollis
    nisi. Vivamus vel enim turpis. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Morbi eget mollis nisi. Vivamus vel enim turpis. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mollis nisi.
    Vivamus vel enim turpis.
  </p>
  <div class="ea-card-content">
    <img
      style="height: 100%; width: 100%;"
      src="../../assets/images/about.svg"
      alt=""
    />
  </div>
</div>

<div class="ea-card" unset>
  <div class="ea-card-content" grid style="--ea-card-content-grid: repeat(2, 1fr);">
    <div>
      <h2>
        The Ecoystem
      </h2>
    </div>
    <img style="height: 100%; width: 100%;"src="../../assets/images/ecosystem.svg" alt="">
  </div>
</div>
