<!--The content below is only a placeholder and can be replaced.-->
<ea-layout>
  <ea-toolbar>
    <p><a routerLink="">WattWatt</a></p>
  </ea-toolbar>

  <ea-drawer>
    <section>
      <a routerLink="/about">About</a>
      <a routerLink="/donation">Donation Portal</a>
      <a routerLink="/crowdfunding">Crowdfunding Portal</a>
      <a routerLink="/education">Education Portal</a>
    </section>
  </ea-drawer>

  <ea-main>
    <ea-body>
      <router-outlet></router-outlet>
    </ea-body>
    <ea-footer>
      <p sm>WattWatt Copright 2018</p>
    </ea-footer>
  </ea-main>
</ea-layout>