<!--The content below is only a placeholder and can be replaced.-->
<ea-layout>
  <ea-toolbar>
    <p><a routerLink="">WattWatt</a></p>
  </ea-toolbar>

  <ea-drawer>
    <section>
      <a routerLink="/about">About</a>
      <a routerLink="/donation">Donation Portal</a>
      <a routerLink="/crowdfunding">Crowdfunding Portal</a>
      <a routerLink="/education">Education Portal</a>
    </section>
  </ea-drawer>

  <ea-main>
    <ea-body>
      <router-outlet></router-outlet>
    </ea-body>
    <ea-footer>
        <aside>
            <h2>WattWatt</h2>
            <h3>Ethereum-based solar energy financing</h3>
          </aside>
          <main>
            <a href="https://github.com/wattwattenergy">
              <img src="../../assets/images/github.svg" alt="">
            </a>

            <a href="https://twitter.com/wattwattenergy">
              <img src="../../assets/images/twitterWhite.svg" alt="" >
            </a>

            <a href="https://www.youtube.com/channel/UCgtn4kRGfcscD--zlEqlmaA?view_as=subscriber">
              <img src="../../assets/images/youtube.svg" alt="">
            </a>

            <a href="https://medium.com/wattwattenergy">
              <img src="../../assets/images/medium.svg" alt="">
            </a>

            <a href="https://discord.gg/vqWYcCj">
              <img src="../../assets/images/discord.svg" alt="">
            </a>
          </main>
      <p sm>WattWatt Copright 2018</p>
    </ea-footer>
  </ea-main>
</ea-layout>
