/* You can add global styles to this file, and also import other style files */
@import "~@eamode/eang/css/all.css";

.mode {
  --ea-color-background-2: #355a7a;
  ul {
    margin: 0;
    padding: 0;
    & li {
      display: flex;
      align-items: center;
    }
  }

  & ea-layout {
    & ea-body {
      margin: 0.5em 15vw;
    }
    & ea-footer {
      --ea-footer-height: auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: white;
      & main {
        display: flex;
        width: 20em;
        justify-content: space-between;
      }
    }
  }
}
